.MuiButtonBase-root{
    color: darkgray !important;
    font-weight: 600 !important;
}
.super-app-theme--header{
    color: #7a6699 !important;
    text-transform: uppercase;
    font-size: 1em;
    font-family: monospace;
    background-color: rgb(249 250 251);
}
.MuiDataGrid-columnHeaderDraggableContainer{
    background-color: rgb(249 250 251);
}
.MuiDataGrid-filler{
    background-color: rgb(249 250 251);
}
.css-1tdeh38{
    background-color: white !important;
}
.MuiDataGrid-columnHeaderTitle.css-1gqmilo-MuiDataGrid-columnHeaderTitle{
    font-weight: 600 !important;
    color: #7a6699 !important;
    text-transform: uppercase !important;
}
.MuiDataGrid-row{
font-size: 1em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500 !important;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.montserrat-bold{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.montserrat-extra{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.montserrat-700{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.montserrat-semi{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.montserrat-medium{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}



.initials-circle {
  width: 35px;
  height: 35px;
  background-color: #4b5563;
  color: rgb(156 163 175);;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc; /* Thin grey border */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Little shadow */
}
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #888; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #555; }

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.montserrat-bold{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.montserrat-extra{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.montserrat-700{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.montserrat-semi{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.montserrat-medium{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}


